<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/release/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="CSS/style.css">
    <title>PetPawsHN</title>
    
</head>
<body>
    <nav class="navbar is-primary-100">
        <div class="container">
            <div class="navbar-brand">
                <a href="#" class="navbar-item" style="font-weight: bold;">PetPawsHN</a>
                <span class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a href="#home" class="navbar-item is-active">Inicio</a>
                    <a href="#us" class="navbar-item">Nosotros</a>
                    <a href="#forum" class="navbar-item">Foro</a>
                    <a href="#adopt" class="navbar-item">Adopta</a>
                    <a href="#examples" class="navbar-item">Galeria</a>
                </div>
            </div>
        </div>
    </nav>

    <section id="home" class="has-text-centered">
        <div class="overlay">
            <h1 class="title">Bienvenido a PetPawsHN.</h1>
            <p class="subtitle">Un sitio para amantes de los animales.</p>
            <a href="#blog" class="button is-dark is-medium">¡Leer mas!</a>
        </div>
    </section>

    <section id="us" class="section has-text-centered">
        <div class="container">
            <h2 class="title">Nosotros</h2>
            <p>Lea sobre nuestros articulos mas recientes en el cuidado de las mascotas.</p>
            <br/>
            <div class="columns is-multiline">
                <div class="column is-4">
                    <div class="box">
                        <h3 class="title is-5">Somos PetShawHN, una tienda en linea</h3>
                        <p>¡Encuentra a tu compañia ideal!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="forum" class="section has-text-centered">
        <div class="container">
            <h2 class="title">Foro</h2>
            <p>Unase en la discusion y conecte con otras personas.</p>
            <br/>
            <div class="columns is-multiline">
                <div class="column is-6">
                    <div class="box">
                        <h3 class="title is-5">Discusión sobre Materiales</h3>
                        <p>Comparte y aprende sobre los mejores materiales para el cuidado de tus mascotas.</p>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="box">
                        <h3 class="title is-5">Técnicas de entrenamiento para caninos.</h3>
                        <p>Unete a la discusion con los mejores entrenadores para tu compañero peludo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="adopt" class="section has-text-centered">
        <div class="container">
            <h2 class="title">Adopta</h2>
            <p>Encuentra tu compañia ideal.</p>
            <br/>
            <div class="columns is-multiline">
                <div class="column is-4" v-for="product in products">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://picsum.photos/id/169/600/400" alt="Product Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">American Labrador</p>
                            <p class="subtitle is-6">$19.99</p>
                            <button class="button is-info is-dark">Adoptar</button>
                        </div>
                    </div>    
                </div>

                <div class="column is-4" v-for="product in products">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://picsum.photos/id/659/600/400" alt="Product Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">Alaskan Malamutt</p>
                            <p class="subtitle is-6">$29.99</p>
                            <button class="button is-info is-dark">Adoptar</button>
                        </div>
                    </div> 
                </div>

                <div class="column is-4" v-for="product in products">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://picsum.photos/id/837/600/400" alt="Product Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">American Bully</p>
                            <p class="subtitle is-6">$59.99</p>
                            <button class="button is-info is-dark">Adoptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="examples" class="section has-text-centered">
        <div class="container">
            <h2 class="title">Galeria</h2>
            <p>Aqui un galeria de varios animales majestuosos.</p>
            <br/>
            <div class="columns is-multiline">
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/881/600/400" alt="Imagen 1">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/937/600/400" alt="Imagen 2">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/790/600/400" alt="Imagen 3">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/718/600/400" alt="Imagen 4">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/611/600/400" alt="Imagen 5">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/577/600/400" alt="Imagen 6">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/582/600/400" alt="Imagen 7">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/593/600/400" alt="Imagen 8">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/538/600/400" alt="Imagen 9">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/433/600/400" alt="Imagen 10">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/258/600/400" alt="Imagen 11">
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="image is-4by3">
                        <img src="https://picsum.photos/id/219/600/400" alt="Imagen 12">
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer has-background-primary-05 has-text-centered has-text-white">
        <div class="content has-text-centered">
            <p>
                <strong>Pagina Web de Bulma CSS</strong> by <a href="#" class="has-text-white">Daniel Trujillo..</a>. Todos los derechos reservados &copy; 2025
                <a href="https://www.youtube.com/@obetancourth" class="has-text-white">Proyecto PetPawsHN</a>.
            </p>
        </div>
    </footer>

    <script type="text/javascript">
        (function(){
            var burger = document.querySelector('.burger');
            var nav = document.querySelector('#'+burger.dataset.target);

            burger.addEventListener('click', function(){
                burger.classList.toggle('is-active');
                nav.classList.toggle('is-active');
            });
        })();
    </script>
</body>
</html>
