@color-image-start: @default-background;
@color-image-end: @secondary-color;
@transition-speed: 0.5s;
@border-radius-hover: 35px;
@border-radius-image-hover: 25px;
@price-size: 75px;

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 80px;
    padding: 16px;
    justify-content: center;
  }

.title {
  font-weight: 800;
  font-size: 1.4em;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
}
